body {
  font-family:Arial, Helvetica, sans-serif;
  background: url(blue.jpeg);
  display: flex;
  justify-content: center;
  align-items: center;
    height: 100vh;
    width: 100%;
    margin: 0;
    background-size: cover; 
    background-position: center;
    color: rgb(255, 255, 255);
  }
   
  .weather-container{
    display: flex;
    flex-direction: column;
  }
  .searchimg{
    width: 200px;
  }
  .not-found{
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }
  .searchagain{
    display: block;
    align-items: center;
    justify-content: center;
    color: black;
  }

  .container {
    backdrop-filter: blur(28px);
    text-align: center;
    padding: 30px;
    border-radius: 20px;
    width: 260px;
    height: 426px;
    box-shadow: 6px 8px 25px rgba(0, 0, 0, 0.5);
  }
  
  .temp-detail{
    font: 38px;
    font-size: bold;
  }
  .temp{
    width: 110px;
    height: 40px;
    font-size: 40px;
    font-weight: bold;
  }
  .description{
    font-size: 20px;
  }
  .search-bar-icon{
    display: flex;
    justify-content:center;
    align-items: center;
    border-radius: 20px;
    width: 250px;
    height: 3rem;
  }
  .humidity-text{
    color: rgb(255, 255, 255);
    font-weight: bold;
  }
  .humidity-value{
    font-weight: bold;
  }
  .wind-speed-text{
    color: rgba(255, 255, 255, 0.695);
    font-weight: bold;
  }
  .search-bar-icon input{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    width: 70%;
    height:36px;
    margin-right:0rem;
    padding-left: 1rem;
    border: none;
  }
  input:focus {
    border-color: skyblue;
    outline: none; 
    box-shadow: 0 0 5px rgb(208, 238, 249);
}

  .search-bar-icon button{
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 20%;
    height: 38px;
    margin:0;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .address-time{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .address{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .weather-icon{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .weathericon span{
    width: 5rem;
    height: 5rem;
    font-size: 100px;
    padding-left: 1.5rem;
  }
  .humidity-wind{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .humidity{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:6px;
  }
  .wind{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
  }
  .coming-day{
    display: flex;
    overflow-x: scroll;
    margin-top: 1rem;
    gap: 15px;
  }
  .coming-day::-webkit-scrollbar {
        height: 8px;
    }
    
    .coming-day::-webkit-scrollbar-track {
        background: rgb(0,0,0,0.1);
        border-radius: 99px;
    }

    .coming-day::-webkit-scrollbar-thumb {
      background: rgb(0,0,0,0.25);
        border-radius: 99px;
    }
  .days{
    min-width: 60px;
    background: rgba(16, 15, 15, 0.288);
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 1rem;
    gap: 6px;
    padding: 5px;
    border-radius: 12px;
  }
  .date{
    width: 40px;
    font-weight: bold;
  }
  .tempIcon{
    width: 45px;
  }


  @media (max-width:500px) {
    
    .body{
      margin: 0px;
      padding: 0px;
      width: 100%;
      height: 100%;
    }
    .container{
      width: 100%;
      height: 91%;
      gap: 4vw;
      overflow-x: hidden;
      overflow-y: hidden;
      border-radius: 0px;
    }
    .searchagain{
      width: 100%;
      height: 100%;
    }
    .searchagain h1{
      font-size: 8vw;
    }
    .searchagain h3{
      font-size: 5vw;
    }
    .not-found{
      width: 100%;
      height: 100%;
    }
    .not-found h1{
      font-size: 8vw;
    }
    .not-found h2{
      font-size: 5vw;
    }
    .weather-container{
      display: flex;
      width: 100%;
      flex-direction: column;
      gap: 4vh;
      font-size: 5vw;
    }
    .weatherimg{
      width: 35vw;
    }
    .temp{
      font-size: 12vw;
      margin-bottom: 2vw;
    }
    .description{
      font-size: 9vw;
    }
    .search-bar-icon{
      margin-top: 30px;
      width: 100%;
    }
    .search-bar-icon input{
      border-top-left-radius: 15vw;
      border-bottom-left-radius: 15vw;
      width: 80%;
      height:12vw;
    }
    .search-bar-icon button{
      border-top-right-radius: 15vw;
      border-bottom-right-radius:15vw;
      width: 20%;
      height: 12.7vw;
      
    }
    .search-bar-icon span{
      font-size: 7vw;
    }
    .searchimg{
     width: 70%; 
    }
  }